/* Demo Styles */

html

{
    
box-sizing: border-box;

}



*
{
    
box-sizing: inherit;

}



body

{
font-family: Helvetica,Arial,san-serif;
    
font-size: 16px;

    
margin: 0;
    
padding: 0;

}



#content_popup

{
    
display: none;

}



.trigger-button
{

font-size: 17px;
position: relative;
    
top: 10px;

    
display: block;

    
margin-left: 35px;
    
padding: 10px 30px;

    
cursor: pointer;

    
color: #fff;
    
border: 0;
    
border-radius: 3px;
    
outline: none;
    
background: #2ecc71;
    
box-shadow: 0 5px 1px #27ae60;

}



.trigger-button:hover{

background: #27ae60;
    
box-shadow: 0 5px 1px #145b32;

}



.trigger-button:active
{
    
border-top: 5px solid white;
    
box-shadow: none;

}